
    a {
    text-decoration: none;
    font-weight: bold;
    font-size;
    font-family: Arial, sans-serif;
    color: #333;
}
.nav {
    list-style-type: none;
}
.nav > li {
    border: 1px solid #2987A3;
    background-color: #7ED3ED;
    padding: 3px;
    margin: 3px;
    width: 150px;
}
.nav > li:hover {
    background-color: #B1FAFA;
    color: #fff;
}
.delete-item {
    float: right;
    margin-right: 2px;
    color: #fff;
    padding: 2px 6px;
    background-color: #FC6A6A;
    border-radius: 100%;
}
.edit-item {
    float: right;
    margin-right: 2px;
    color: #fff;
    padding: 2px 6px;
    background-color: #6C6AFA;
    border-radius: 100%;
}
.selected {
        background-color:#faa;
        }
.unselected {
        background-color:white;
        } 
a.editable-click { 
    color: #262;
    border-bottom:0px;
}
a.editable-click:hover { 
    color: #47a447;
    border-bottom-color: #47a447;
}



.editable-radiolist label {
    font-weight:100;
  display: block;
}
.risposta{margin-left:65%;}
.well{padding:0;padding-left:10px}
.editable-buttons button{padding:13px}
.valore{font-style: oblique;font-weight:100;}
.delete{position:absolute;right:0px;top:0px;}

.modal-dialog {
    width: 500px;
    margin: 30px;
    margin-top:5px;
}
.modal-footer{
       position: absolute;
       top:-30px;
       right:-300px;
       padding:30px;
       
}
body{font-size:xx-large ;}
.list-group-item{margin:25px}

.form-control{font-size:34px;}
.btn{font-size:xx-large}
.modal-footer{margin-bottom:15px}

.modal-footer .btn + .btn {
    margin-bottom: 0px;
    margin-left: 35px;
}
.btn {margin-bottom:5px;}
.relink  {background-color: green;padding:13px;border-radius:5px;font-weight:normal;color:white;position:fixed;margin-top:-70px;z-index: 100;}
.link:hover{color:white;background-color:green;text-decoration:none;}
.link  {margin-left:15px;background-color: lightgreen;padding:13px;border-radius:5px;font-weight:normal;color:white;}
.op{margin-top:70px;}