<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Amministrazione domande</title>
  
  
  
  
    <link href="css/xeditable.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css" color="text/css">
    <link rel="stylesheet" href="amm.css" color="text/css">
    <script src= "js/jquery.min.js" color="text/javascript"></script>
    <script src= "js/angular.min.js" color="text/javascript"></script>
    <script src= "js/angular-cookies.js" color="text/javascript"></script>
    <script src= "amm.js" color="text/javascript"></script>
    <script src= "js/bootstrap.min.js" color="text/javascript"> </script>
    <script src= "js/ui-bootstrap-tpls-0.13.0.js" color="text/javascript"></script>
    <script src="js/xeditable.js"></script>
</head>
<body>
  <div ng-app="myApp">
        <div ng-controller="ItemsController">
                
                                <div ng-hide="selected != null">
                                        <ul class="list-group"> 
                                                <li class="list-group-item" ng-repeat="argomento in argomenti" ng-class="selectedClass($index)"> 
                                                <button  class="delete btn btn-danger btn-lg" ng-click="deleteArgomento(argomento.index)">X</button>
                                                <button   class="seleziona btn btn-primary btn-lg" ng-click="selectArgomento($index)">Seleziona</button>
                                                        
                                                <a  href="#"  editable-textarea="argomento.text" onbeforesave="changeArgomento($data,argomento.index)" e-rows="2" e-cols="20">
                                                                        {{ argomento.text || 'Argomento..' }}</a>
                                                </li>
                                                <li class="list-group-item">
                                        <button class="btn btn-success btn-lg" ng-click="addArgomento($index)">Nuovo Argomento</button>
                                                </li>
                                        </ul> 

                </div>
                        <div ng-show="selected != null">
                                <ul class="list-group"> 
                                        <li class="list-group-item" ng-repeat="item in items" id="item{{item.id}}"> 
                                                <button class="delete btn btn-danger btn-xs" ng-click="deleteDomanda(item.index)">X</button>
                                                <div class=well>
                                                <a  href="#" editable-textarea="item.text" onbeforesave="changeDomanda($data,item.index)" e-rows="3" e-cols="25">
                                                                {{ item.text || 'Domanda..' }}
                                                                        </a>
                                                </div>
                                                <ul class="list-group">
                                                        <li class="list-group-item" ng-repeat="r in item.answers" id="r{{$index}}"> 

                                                        <div class="row">
                                                                <div class="col-sm-7 well">
                                                        <a  href="#" editable-textarea="item.answers[$index].text" onbeforesave="changeRisposta($data,item.answers[$index].index)" e-rows="2" e-cols="20">
                                                                {{ item.answers[$index].text || 'Risposta ' + $index + '..' }}
                                                                        </a>
                                                                </div>
                                                                <div class="col-sm-5 well">
                                                                <a class=valore href="#" editable-radiolist="item.answers[$index].value"  onbeforesave="changeRispostaValue($data,item.answers[$index].index)"  e-ng-options="s for s  in valori">
                                                                        {{item.answers[$index].value}}</p>
                                                                <a/>
                                                                </div>
                                                        </div>
                                                        <button  class="delete btn btn-danger btn-xs" ng-click="deleteRisposta(item.answers[$index].index)">X</button>
                                                         

                                                        </li>
                                                <li class="list-group-item">
                                        <button class="btn btn-success btn-xs" ng-click="addRisposta(item.index)">Nuova Risposta</button>
                                                </li>
                                                </ul>
                                        </li>
                                        <li class="list-group-item">
                                <button style="float:right" class="btn btn-primary btn-xs" ng-click="leaveArgomento()">Indietro</button>
                                <button class="btn btn-success btn-xs" ng-click="addDomanda(argomenti[selected].index)">Nuova Domanda</button>
                                        </li>
                                        </li>
                                </ul> 

                        </div>
        </div>
</div>
  
</body>

</html>

