




<div class="modal-body">
		<div role=form > 
                <textarea style="overflow:hidden" class="form-control" ng-model="input.risposta" placeholder="Risposta..."></textarea>
<form name="myForm">
  <label>
    <input type="radio" ng-model="input.value" value="Giusta">
    Giusta
  </label><br/>
  <label>
    <input type="radio" ng-model="input.value" value="Sbagliata">
    Sbagliata
  </label><br/>
  <label>
    <input type="radio" ng-model="input.value" value="Accettabile">
    Accettabile
  </label><br/>
 </form>
</div><!-- row -->
</div><!-- row -->
<div class="modal-footer"> 
        <button class="btn btn-primary" ng-click="gotMessage()">Vai</button>
        <button class="btn btn-warning" ng-click="cancel()">Rinuncia</button>
</div>





