
    a {
    text-decoration: none;
    font-weight: bold;
    font-size;
    font-family: Arial, sans-serif;
    color: #333;
}
a.editable-click { 
    color: #262;
    border-bottom:0px;
}
a.editable-click:hover { 
    color: #47a447;
    border-bottom-color: #47a447;
}

.editable-input{height:;width:;}

.editable-radiolist label {
    font-weight:100;
  display: block;
}
.risposta{margin-left:65%;}
.well{padding:0;padding-left:10px}
.editable-buttons button{padding:13px}
a.editable.valore{font-style: oblique;font-weight:100;color:pink;}

.delete{position:absolute;right:5px;top:3px;}

.modal-dialog {
    width:;
    margin:;
    margin-top:;
}
.modal-footer{
       position: absolute;
       top:-30px;
       right:-300px;
       padding:30px;
       
}
body{font-size:;}
.btn{white-space:normal;}
.btn-default{background-color: transparent;border: 0}
}
.nuovo {
       position:fixed;
       bottom:20px;
       left:20px;
       margin-top:0px;
       z-index: 100;
       color:white;
       background-color:#ff3600;
       padding:20px;
       border-radius: 20px
       }
.link:hover{text-decoration:none;background-color:#43c2c4;color:white}
.link  {display:block;
       margin-left:1px;
       background-color:#f5f5f5;
       padding:1px;
       font-size:120%;
       border-radius:5px;
       font-weight:bold;
       color:black;
       padding-top:7px;
       width:6.5em;margin-top:1em;border-top-right-radius: 30px;height: 2em;
       border:1px solid #e3e3e3;
       }
.button:hover{text-decoration:none;}
.button  {
       margin-left:0px;
       background-color: GREEN;
       padding:10px;       padding-left:13px;       padding-top:13px;
       border-radius:25px;
       font-weight:normal;
       color:white;
       margin-top:15px;
       border-color:aliceblue;
       }
.op{}
.argomento{background-color: lightgrey;padding:7px;border-radius:8px;}
.domanda{margin-top:15px;margin-bottom:10px;background-color:#43c2c4;padding:5px;padding-left:10px;border-radius:5px;color:white;}
.logo{float:right}
.navigation{width: 7em}
.content{margin-left: 7em;margin-bottom:50px;}
.user{margin-right:5px;font-style:oblique;font-size:50%}
.login{float:right;font-size:30%;color:#999}
.pointer{background-color:#e5f6fd;cursor:pointer;padding:5px;}
.pointer:hover{background-color:#43c2c4;color:white}
.comment{font-size:25%}
.intro{font-size:50%;margin-left:10px;}
.footer{position:fixed;top:10px;left:10px;}

.code{position:absolute;color:black;right:5px;bottom:1px;font-size:25%}
.qrmaniacs{float:right;}
.risposte{background-color:#e5f6fd;border:1px solid #e3e3e3;padding:3px; }
.logov{background-color:#f8f8f8;padding:1px;margin-right:15px;border:1px solid #e3e3e3;}
.label{font-size:110%;color:black;}
.logolink{background-color:#f8f8f8;padding:1px;margin:3px;border:1px solid #e3e3e3}
.container{margin:0px;}
.title{font-weight: bold;font-size:150%;margin-left:100px;}
.author{padding:3px;background-color: #f8f8f8;width:80px;height:80px;border: 1px solid #e3e3e3;margin:10px}
.well{}
p{margin:0}
.modal-dialog{width: 500px;position:fixed;left:15px}
.modal-body{width:500px}