a {
    text-decoration: none;
    font-weight: bold;
    font-size;
    font-family: Arial, sans-serif;
    color: #333;
}
a.editable-click {
    color: #262;
    border-bottom: 0px;;
    font-style:normal;
    color:black;
}
a.editable-click:hover {
    background-color: #bbb;
    border-bottom-color: #47a447;
}
.editable-input {
    height: ;
    width: ;
}
.editable-radiolist label {
    font-weight: 100;
    display: block;
}
.risposta {
    margin-left: 65%;
}
.well {
    padding: 0;
    padding-left: 10px
}
.editable-buttons{
    display:block;
    float:right;
    margin-top:10px;
    margin-right:10px
}
.editable-buttons button {
    padding: 7px;
    border-radius:5px;
    font-size:120%;
    padding-right:0px;
    margin-left:15px;
    border:0px;
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2);

}
.editable-buttons .btn-default {background-color: rgba(255,0,0,0.3);color:black}
.editable-buttons .btn-primary {background-color: rgba(0,255,0,0.3);color:black}
.editable-input.editable-has-buttons {
    width:100%;height:60px;font-size:100%
}
a.editable.valore {
    font-style:;
    font-weight:100;
    color: blue;
}
.editable-wrap{
    background-color: #e3e3e3;
    padding:15px;
    border-radius:5px;
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2)inset;
}
.delete {
    display: inline;
}
.modal-dialog {
    width: ;
    margin: ;
    margin-top: ;
}
.modal-footer {
    position: absolute;
    top: -30px;
    right: -300px;
    padding: 30px;
}
body {
    font-size: ;
}
.btn {
    white-space: normal;
}
.btn-default {
    background-color: transparent;
    border: 0
}
.nuovo {

    position: fixed;
    bottom: 20px;
    left: 20px;
    margin-top: 0px;
    z-index: 100;
    color: white;
    background-color: #ff3600;
    padding: 20px;
    border-radius: 20px
}
.link:hover {
    text-decoration: none;
    background-color: rgba(40,94,116,0.9);
    color: #222;
}
.link {
    display: ;
        cursor: pointer;
    margin-left: 0px;
    background-color: rgba(67,194,196,0.95);
    padding: 1px;
    font-size: 150%;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    border: 0px solid #e3e3e3;
    margin-left: 5px;
    padding: 8px;
    padding-bottom: 3px;
    padding-right:6px;
    z-index:10;
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.5);

}
.button:hover {
    text-decoration: none;
}
.button {
    margin-left: 0px;
    background-color: GREEN;
    padding: 10px;
    padding-left: 13px;
    padding-top: 13px;
    border-radius: 25px;
    font-weight: normal;
    color: white;
    margin-top: 15px;
    border-color: aliceblue;
}

.argomento {
    margin-left:0px;
    font-size: 120%;
}
.domanda {
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #43c2c4;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    color: white;
    font-size:120%
}
.logo {
    float: right
}
.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color:transparent;
    height: 50px;
    padding: 8px;
    border-radius: 0;
    top: 2px;
}

.navigation div {
    position:absolute;
    right:10px;
    top:10px;
    } 


.content {
    margin: 3px;
    margin-bottom: 50px;
    margin-top: 60px;
    background-color: #fefefe;
    padding: 6px
}
.user {
    margin-right: 5px;
    font-style: oblique;
    font-size: 50%
}
.login {
    float: right;
    font-size: 30%;
    color: #999
}
.pointer {
    background-color: #e5f6fd;
    cursor: pointer;
    padding: 5px;
}
.pointer:hover {
    background-color: #43c2c4;
    color: white
}
.comment {
    font-size: 25%
}
.intro {
    font-size: 50%;
    margin-left: 10px;
}
.footer {
    position: fixed;
    top: 10px;
    left: 10px;
}
.code {
    position: absolute;
    color: black;
    right: 5px;
    bottom: 1px;
    font-size: 25%
}
.qrmaniacs {
    float: right;
}
.risposte {
    background-color: #e5f6fd;
    border: 1px solid #e3e3e3;box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
border-radius:5px
    padding: 5px;
    width: 80%;
    text-align: left
}
.risposte + .glyphicon {
    font-size: 150%;
    
}
.logov {
    background-color: #f8f8f8;
    padding: 1px;
    margin-right: 15px;
    border: 1px solid #e3e3e3;
    height: 40px;
    width: 35px;
}
.logor {
    background-color: #f8f8f8;
    padding: 1px;
    margin-right: 0px;
    border: 1px solid #e3e3e3;
    height: 50px;
    width: 45px;
    float:right;

}
.label {
    font-size: 110%;
    color: black;
}
.logolink {
    background-color: #f8f8f8;
    padding: 1px;
    margin: 3px;
    border: 1px solid #e3e3e3
}
.container {
    margin: 0px;
}
.title {
    font-weight: bold;
    font-size: 170%;
    background-color: white;
    padding: 5px;
    opacity: 0.8;
    border-radius: 5px;
    min-height: 63px;
    margin:2px;
    display:table;width:100%
    }
.title span{
    display:table-cell;
    vertical-align:middle;
    }

.titler {
    font-weight: bold;
    font-size: 160%;
    background-color: white;
    padding: 5px;
    opacity: 0.8;
    border-radius: 5px;
    text-align: center;
}
.author {
    width: 50;
    height: 50;
    opacity: 0.3;
}
.well {
    margin:
}
.modal-dialog {
    overflow: auto;
    position: absolute;
    left: 15px;
    opacity: 0.9
}
.modal-body {
    overflow: auto;
}
.result {
    font-size: 400%
}
.finequestionario {
    position: fixed;
    right: 10%;
    background-color: #ff3600;
    z-index: 1;
    bottom: 0
}
.list-group-item {
    border: 0;
    margin: 1px;
    padding-bottom:4px;
}
.list-group-item:last-child {
    padding-bottom:9px;
}
.linkautore {
    padding:5px;
    background-color: rgba(0,255,0,0.8);
    border-radius:5px;
    cursor: pointer;
    font-size: 150%;
    color:black;    
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-right:10px;
}
.linkautore:hover {

    background-color: rgba(0,255,0,0.9);
    color:black;
    }

.through {
    transform: matrix(0.70710678, -0.70710678, 0.70710678, 0.70710678, -30, 185);
    width: 350px;
    font-size: 140%;
    color: #ff3600;
    position: absolute
}
.bottomops {
    position: fixed;
    bottom: 10px;
    right: 13px;
}
.bottomopsl {
    
    position: fixed;
    top: 10px;
    left: 10px;
    z-index:100;
}
.fatto {
    background-color: rgba(200,100,100,0.9);
    color: black; font-size:120%;
       
  }
.finito {
    text-align:center;
    }

.modal-body .btn {
    display: block;
    margin: 20px;
    padding: 10px
}

 

.alert {
    margin: 2px;
    margin-top:10px;
    font-size:130%;
}
.smalltitle {
    font-size: 100%
}
.navigation .confirmed {
    color: white;
    border: 0px;
    background-color: transparent
}
.mail {
    text-decoration:none;
    font-weight: bold;
    width: 100%;
    font-size:100%;

}
.mail:hover{
  text-decoration:none;
  background-color:transparent;
  color:black;
  }
.choices {
    padding: 20px;
}
.choices > a {
    display: block;
    margin-top: 30px;
}
.choices > div {
    display: block;
    margin-top: 30px;
    margin-left:4px;
}
.choices > a:hover{background-color:}
.choices .link {
    padding: 6px;
}
.choices .glyphicon {
    margin-right: 10px;
}
.choices .link span{
    display:table-cell;
    vertical-align:middle;
    padding:6px;
    font-size:80%;
    font-weight:normal;
    }
.list-group {
    background-color:transparent;
    padding:1px;
    padding-top:1px;
    margin-top:10px
}
.list-group-item {
    background-color: #e3e3e3;
    margin:1px;
    border-radius:5px;
}
.loading {
    width: 30px;
    height: 25px;
    float:right;
}
.ops {
    font-size: 70%;
    text-decoration: none;
    display: inline
}
.danger {
    background-color: #f77;
    color: black
}
.danger:hover {
    background-color: #f33;
    color:black
}
.success {
    background-color: #6f6;
    color: black
}
.success:hover {
    background-color:#1f1;
    color: black
}
.primary {
    background-color: #88f;
    color: black
}
.primary:hover {
    background-color:#33f;
    color: black
}
.indietro {
    background-color: #99a
}
.indietro:hover {
    background-color: #66a
}
.plus {background-color:rgba(255,100,100,0.9);}
.plus:hover {background-color:rgba(255,100,100,0.8);}
.mail {
    color: black;
    background-color: rgba(0,0,0,0.05);padding:4px;
    border: 0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
    text-align:center;
    margin-left:4px;

}
.setmail{
       background-color: lightblue;
       font-size:150%;
       color:black
        }
.elencorispostev{background-color: transparent;}
.title {
       text-align:center;
       }
.elenco{margin-bottom:10px;padding:5px;    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);}
.elenco.list-group-item:last-child {
    padding-bottom:4px;
    border-radius:5px;}
.twit {margin:2px;}
.campagna{font-size:200%}
.sistema .link {margin-right:20px;}
.banner {font-size:100%}
.place {background-color: rgba(0, 0, 0, 0.2);padding:3px;border-radius:5px;box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2)}
.modal-body .link{font-size:110%}
.response {margin-top:10px}

.loginlink{font-size:60%}

.loginlinkc {
       text-align:left;font-size:130%;
       }

