
<div class=navlinks>
        <a class=link href="#/">Home</a>
        <a class=link ng-click="Page.goBack()">Back</a>
</div>

<div class="well title"> I tuoi questionari 
</div>
<ul class="content list-group"> 
<a class=nuovo ng-click="addArgomento($index)"><span class="glyphicon glyphicon-plus"></span></a>
        <li class="pointer list-group-item" ng-repeat="argomento in argomenti" ng-class="selectedClass($index)" ng-click="Page.gotoResource(argomento.index)"> 
                <div class=delete>
                        <button  class="btn btn-default"  ng-click="Page.gotoQR(argomento.index);$event.stopPropagation()">
                                <span class="glyphicon glyphicon-qrcode"></span> </a>
                        <button  class="btn btn-default" ng-click="checkDelete(deleteArgomento,argomento.index);$event.stopPropagation()">
                               <span class="glyphicon glyphicon-trash"></span> </button>

                </div>
                {{ argomento.text}}
        </li>
</ul> 

