

                        <div class="title"> Le tue domande </div>
                        <ul class="list-group"> 
                                <li class="pointer list-group-item" ng-repeat="argomento in argomenti" ng-class="selectedClass($index)" ng-click="Page.gotoResource(argomento.index)"> 
                                                <a  class="link"  href="QR/{{argomento.index}}" ng-click="$event.stopPropagation()">
                                                        <span class="glyphicon glyphicon-qrcode"></span></a>
                                                <a  class="link" ng-click="checkDelete(deleteArgomento,argomento.index);$event.stopPropagation()">
                                                       <span class="glyphicon glyphicon-trash"></span> </a>

                                                <span class=argomento>{{ argomento.text}}</span>
                                </li>
                        </ul> 
                        <button class="btn btn-default" ng-click="addArgomento($index)"><span class="glyphicon glyphicon-plus"></span></button>
