
<div class=navlinks>
        <a class=link href="#/">Home</a>
        <a class=link ng-click="Page.goBack()">Back</a>
        <a class=link href="#/Resource/{{hash}}">View</a>
</div>

<div class="well title"> 
<a  href="#"  editable-textarea="argomento.text" onbeforesave="changeArgomento($data)" e-rows="2" e-cols="20">
                                {{ argomento.text || 'Argomento..' }}</a>
</div>
<button class="nuovo" ng-click="addDomanda()"><span class="glyphicon glyphicon-plus"></span></button>
<ul class="content list-group"> 

        <li class="list-group-item" ng-repeat="item in items" id="item{{item.id}}"> 
                <a  href="#" editable-textarea="item.text" onbeforesave="changeDomanda($data,item.index)" e-rows="3" e-cols="25">
                                {{ item.text || 'Domanda..' }}
                                        </a>
                <button class="btn btn-default" ng-click="checkDelete(deleteDomanda,item.index)"><span class="glyphicon glyphicon-trash"></span></button>
                <ul class="list-group">
                        <li class="list-group-item" ng-repeat="r in item.answers" id="r{{$index}}"> 

                        <button  class="btn btn-default" ng-click="checkDelete(deleteRisposta,item.answers[$index].index)"><span class="glyphicon glyphicon-trash"></span></button>
                        <a  href="#" editable-textarea="item.answers[$index].text" onbeforesave="changeRisposta($data,item.answers[$index].index)" e-rows="2" e-cols="20">
                                {{ item.answers[$index].text || 'Risposta ' + $index + '..' }}
                                        </a>
                                <a class=valore href="#" editable-radiolist="item.answers[$index].value"  onbeforesave="changeRispostaValue($data,item.answers[$index].index)"  e-ng-options="s for s  in valori">
                                        {{item.answers[$index].value}}</p>
                                <a/>
                         

                        </li>
                        <li class="list-group-item">
                                <button class="btn btn-default" ng-click="addRisposta(item.index)"><span class="glyphicon glyphicon-plus"></span></button>
                        </li>
                </ul>
        </li>
</ul>
</div>
