
<div  class=container>
        <div ng-show=active class=row>
                <div class="col-sm-2" >
                        <img class=author src={{Page.logo()}} width=50 height=50 />
                        <a ng-if="isAuthor" class=link href="#/Autore">Autore</a>
                        <a class=link href="#/Visitatore">Visitatore</a>
                        <a ng-if="false" class=link href="#/Validatore">Validatore</a>
                        <a class=link ng-click="logout()">Logout</a>
                        <a ng-if="isAuthor" class=link href="#/Sistema">Sistema</a>
                </div>

                <div class="col-sm-10">
                        <div class="title well"> Il tuo profilo </div> 
                        <ul class=" list-group"> 
                                <li class="well list-group-item">
                                        Email:
                                        <a  href="#"  editable-email="mail" onbeforesave="updateMail($data)" e-rows="2" e-cols="20">
                                                {{mail || 'mail....'}}</a>
                                        <div>
                                        Conferma:
                                        <span ng-show="confermato()" class="glyphicon glyphicon-ok"> </span>
                                        <span ng-hide="confermato()" class="glyphicon glyphicon-warning"> </span>       
                                        </div>
                                </li> 
                                <li ng-if="isAuthor" class="list-group-item">
                                        <ul  class=list-group>  
                                                <li class="well list-group-item"> 
                                                Logo campagna: <a  href="#"  editable-textarea="campagna.logo" onbeforesave="setLogo($data)" e-rows="2" e-cols="20">
                                                                <img class=logolink width=35 height=35 ng-src="{{campagna.logo}}" alt="{{campagna.logo.slice(1,20) || 'link al logo'}}"/></a>
                                                </li>

                                                <li class="well list-group-item"> 
                                                        Inizio campagna: <div class=label> {{campagna.begin | date:'HH:mm dd-MM-yyyy'}}</div>
                                                        <p>
                                                         
                                                        <div class=row>
                                                                <div class="col-sm-7">
                                                                        <datepicker class="well well-sm" ng-model="campagna.begin"/> 
                                                                </div>
                                                                <div class="col-sm-5">
                                                                        <timepicker show-meridian=false  ng-model="campagna.begin" ></timepicker>
                                                                </div>
                                                        </div>
                                                </li>
                                                <li class="well list-group-item"> 
                                                        Fine campagna: <div class=label> {{campagna.expire | date:'HH:mm dd-MM-yyyy'}}</div>
                                                        <p>
                                                         
                                                        <div class=row>
                                                                <div class="col-sm-7">
                                                                        <datepicker class="well well-sm" ng-model="campagna.expire"/> 
                                                                </div>
                                                                <div class="col-sm-5">
                                                                        <timepicker show-meridian=false  ng-model="campagna.expire" ></timepicker>
                                                                </div>
                                                        </div>
                                                </li>
                                                <li class="well list-group-item"> 
                                                Luogo validazione:  <a  href="#"  editable-textarea="campagna.place" onbeforesave="setPlace($data)" e-rows="2" e-cols="20">
                                                                {{campagna.place}}
                                                                </a>
                                                                
                                                                <a class=vaisugooglemaps href="http://maps.google.com"><img width=70 height=70 src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSfBezxeGH2wju3Tm55MT9GN1xvKst2pUNV6JKlu4u_c0HrpJa8XNkviw"></a>
                                                </li>
                                                <li ng-if="isAuthor" class="well list-group-item">
                                                        QR di login:<a href="QR/Login"><span class="glyphicon glyphicon-qrcode"></span></a>
                                                </li> 
                                <li class="well list-group-item"> Validatori promossi:
                                        <ul class=list-group>
                                                <li class = list-group-item ng-repeat="v in validatori">
                                                        {{v}}
                                                </li>
                                        </ul>
                                </li> 

                        </ul>
                </div>
        </div>

        <div ng-hide=active class=row>
                <div class="col-sm-2" >
                </div>

                <div class="col-sm-10">
                        <div class="title well"> 
                                <em>QR Maniacs</em>  
                                <span class=comment> QR code related services <span>
                        </div>
                                        <p> I servizi di <em>QR Maniacs</em> (fase alpha) sono accessibili tramite QR argomento (URL inerni) di questo dominio. </p>
                                        <p> Per diventare autore contatta  
                                                <a href="mailto:paolo.veronelli@gmail.com">mail</a>
                                        </p>
                </div>
        </div>
</div>
