<div class="modal-body">
        <p ng-if="!confermato()">Attenzione! Non hai confermato il tuo login via mail. Se esci perderai la connessione e non avrai possibilità di recuperare i tuoi contributi. </p>
        <button ng-if="confermato()" class="btn btn-success" ng-click="any('esci')"><span class="glyphicon glyphicon-ok"> Esci </span> </button>
        <button class="btn btn-danger" ng-click="any('destroy')"><span class="glyphicon glyphicon-ok"> Eliminami </span> </button>
        <button class="btn btn-prmary" ng-click="cancel()"><span class="glyphicon glyphicon-remove">  Resta connesso </span></button>
</div>







