<div class="modal-body">
        <p>
        Benvenuto in QRManiacs. 
        <p> Ti è appena stato assegnato un accesso al sistema QRManiacs tramite l'utilizzo di un cookie tecnico.
        <p> Il cookie verrà utilizzato solo per mantenere l'identità del tuo browser tra una lettura di QR e l'altra.
        <p class=norma> Art .2, par. 5, Direttiva 2009/136/CE e art. 122, comma 1, Codice privacy
        <p> La registrazione della tua mail è facoltativa e ti permetterà di ricevere:
        <ul>
                <li> Un link di login per recuperare la tua connessione in caso di logout o di cambio device </li>
                <li> Le notifiche di chiusura questionari con i risultati delle campagne </li>
        </ul>
        
        <div class=response>
        <a class="link" ng-click="gotMessage()"><span class="glyphicon glyphicon-ok"> Entra
        </span> </a>
        <a class="link" ng-click="cancel()"><span class="glyphicon glyphicon-remove"> Esci
        </span> </a>
        </div>
</div>








