
<div class=navlinks>
        <a class=link href="#/">Home</a>
        <a class=link ng-click="goBack()">Back</a>
        <a class=link ng-click="logout()">Logout</a>
</div>

<div class="well title"> Il tuo profilo 
</div> 

<ul class="content list-group">
        <li class=list-group-item>
                QR di ingresso
                  <img  src="QR/Login"></img>
        </li> 
        <li class=list-group-item>
                Link di ingresso
                  <a href="Login/{{Page.user()}}">{{Page.user().slice(1,20)}}........</a>
        </li> 
        <li class=list-group-item>
        </li> 
</ul>
                
