<div class="titler well"> Questionari </div>

<ul class="list-group"> 
        <li class="elenco pointer list-group-item" ng-repeat="argomento in argomenti" ng-class="selectedClass($index)" ng-click="Page.gotoEditResource(argomento.index)"> 
  <a class="link linkautore"  href="QR/{{argomento.index}}" ng-click="$event.stopPropagation()">
    <span class="glyphicon glyphicon-qrcode">
    </span></a>
                        <a  class="link linkautore" ng-click="deleteArgomento(argomento.index,argomento.text);$event.stopPropagation()">
                               <span class="glyphicon glyphicon-trash"></span> 
                        </a>
                        <span class=argomento>{{argomento.text}}</span>
        </li>
</ul> 

<a class="link plus" ng-click="addArgomento($index)"><span class="glyphicon glyphicon-plus"></span></a>

