
                        <div class="titler"> Le tue risposte </div>
                                                        <div ng-if="argomenti.length < 1" class="alert alert-warning alert-dismissible" role="alert">
                                                                <div>
                                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                                  <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                          <p> Non hai ancora risposto ad alcun questionario
                                                                          <p> Puoi farlo inquadrando un QR questionario
                                                                </div>
                                                        </div>

                        <ul class="list-group"> 
                                <li class="pointer list-group-item" ng-repeat="argomento in argomenti" ng-class="selectedClass($index)"  ng-click="Page.gotoResource(argomento.index)"> 
                                        <img class=logov width=25 height=25 src={{argomento.logo}} />
                                        <span class=argomento> {{argomento.text}} </span>
                                </li>
                        </ul> 

