
<div  class=container>
        <div class=row>
                <div class="navigation" >
                        <a class=link href="#/Profile"><span class="glyphicon glyphicon-user"></span></a>
                </div>

                <div class="content">
                <div class="title well"> Le tue risposte 
                </div> 
                        <ul class="list-group"> 
                                <li class="pointer list-group-item" ng-repeat="argomento in argomenti" ng-class="selectedClass($index)"  ng-click="Page.gotoResource(argomento.index)"> 
                                        <img class=logov width=25 height=25 src={{argomento.logo}} />
                                        {{argomento.text}}
                                </li>
                        </ul> 

                </div>

        </div>
</div>
